body{
background-image:url("bg.jpg");
}
a{
background-color:#ededed;
border-radius: 10%;
}
.aaa{
background-color:#ededed;
border-radius: 10%;
}
h1{
text-align: center;
border-radius: 10%;
}

#aaa{
width:400px;
display:inline-block;
}

.jednalinia{
display:inline;
}
div.main{
 width: 950px ;
 padding: 10px;
 margin: 10px auto;
 text-align: center;
}
body{
 text-align: center;
}
.button:visited, .button{
  color: inherit;
}
div.obok{
  background-color:#ededed;
  margin: 30px 5px 10px 5px;
  width:300px;
  height:500px;
  display:inline-block;
  float:left;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}
datalist { 
    display: none;
}
.button{
  display:inline-block;
  background: #ededed;
  border-radius: 10%;
  font-family: Times new roman;
  width:200px;
  height:20px;
  margin: 10px 0px;
  text-decoration: none;
}
.min {
 width:30px;
}

.wlini{
 display:inline-block;
 margin: 10px 0px;
}